@model busSystem_v8.View_Models.UserBooking
@{
    ViewBag.Title = "AddTrip";
}

<h2>AddTrip</h2>
@using (Html.BeginForm(new { @class = "form-group col-md-4" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.books.trips.StartDate)
        @Html.EditorFor(model => model.books.trips.StartDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.books.trips.StartDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">


        @Html.LabelFor(model => model.books.trips.EndDate)
        <h4> @ViewBag.date </h4>
    </div>

    <button type="submit" value="Save" class="btn btn-primary">Save </button>

}