@model busSystem_v8.View_Models.UserBooking
@{
    ViewBag.Title = "EditBook";
}
<h2>Edit Booking  </h2>

<div class="alert alert-success" id="success" style="display:none;">
    <strong>Edited Added Succesfully  </strong>
</div>
<div class="alert alert-danger" id="fail" style="display:none;">
    <strong>Edited Failed !!  </strong>
</div>
<form id="New">
    @Html.HiddenFor(x => x.books.BokkingID)
    <div class="form-group">
        @Html.LabelFor(x => x.books.chosenChairs)
        @Html.TextBoxFor(x => x.books.chosenChairs, new { @class = "form-control", type = "number", placeholder = "Chooser Number " })
        @Html.ValidationMessageFor(x => x.books.chosenChairs)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.books.users.Name)
        @Html.TextBoxFor(x => x.books.users.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.books.users.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.books.lines.From)
        @Html.DropDownListFor(x => x.books.Line_Id, new SelectList(Model.lines, "Id", "From"), "Choose Sourse : ", new { @class = "form-control" })
        @*   @Html.TextBoxFor(x => x.books.lines.From,  new { @class = "form-control" })*@
        @Html.ValidationMessageFor(x => x.books.Line_Id)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.books.lines.To)
        @Html.DropDownListFor(x => x.books.Line_Id, new SelectList(Model.lines, "Id", "To"), "Choose Destination : ", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.books.Line_Id)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.books.trips.StartDate)
        @Html.DropDownListFor(x => x.books.Trip_ID, new SelectList(Model.trips, "Id", "StartDate"), "Choose Start Date ! : ", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.books.Trip_ID)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.books.Buses.CompanyName)
        @Html.DropDownListFor(x => x.books.Bus_Id, new SelectList(Model.buses, "BusID", "CompanyName"), "Choose Your Fav Bus : ", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.books.Bus_Id)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.books.payment_types)
        @Html.DropDownListFor(x => x.books.Payment_Type_Id, new SelectList(Model.payment_Types, "ID", "pay_type"), "Choose Your Payment Type  : ", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.books.Payment_Type_Id)
    </div>
</form>
<div style="margin-top:70px">
    <button type="button" value="Save" id="Save" class="btn btn-primary">Save </button>
    <div style="font-size:25px;float:left;margin-right:30px">
        @* @Html.ActionLink("Back To Display Booking", "BookThird")*@
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            $("#Save").click(function () {
               if($("#New").valid()){
                mydata = $("#New").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Booking/EditBook",
                    data: mydata,
                    success: function (response) {
                        if(response.result==1)
                        {
                            $("#success").slideDown(2000);
                            $("#success").slideUp(1000);
                        }
                        else{
                                $("#fail").slideDown(2000);
                                $("#fail").slideUp(1000);
                        }
                    }
                })
             }
            })
        })

    </script>
}