@using System.Configuration

@{
    Layout = null;
}

<div>
    If You Want To Ensure The Payment Click Confirm
    </br>
    Runet Ya 3L2 
    </br>

    <h1>@ViewBag.test</h1>
    <h2>@ViewBag.test1</h2>
    <h3>@ViewBag.test2</h3>
    <h1>@ViewBag.a</h1>
        
</div>
<br />
<form action="/Paypal/getButton" method="POST">
    <input type="hidden" name="cmd" value="_notify-synch">
    <input type="hidden" name="tx" value="@ViewBag.tx">
    <input type="hidden" name="at" value="@ConfigurationManager.AppSettings["Token"]">
       
    <input type="hidden" name="ar" value="@ConfigurationManager.AppSettings["accountBusiness"]">
    <input type="submit" value="Confirmation" class="btn btn-primary">
</form>
    

